body,html {
    background-color: #f9f9f9;
    font-family: Open Sans, Arial, sans-serif;
    height: 100%;
}

p {
    line-height: 26px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #426180;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    color: #aaaeb4;
    font-size: 14px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 25px;
    line-height: 70px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #aaaeb4;
    letter-spacing: 1px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #304a61;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    padding: 35px 0;
}

a {
    color: #DB162F;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff !important;
}

.sidebar-nav > .sidebar-brand h1, .login .headline h2 {
    color: #fff !important;
    font-size: 26px;
    text-indent: 25px;
    letter-spacing: 6px;
    font-weight: 600;
    padding:0px;
    margin:0;
}

.sidebar-nav > .sidebar-brand h2, .login .headline h3 {
    color: #fff !important;
    font-size: 14px;
    text-transform: none;
    text-indent: 25px;
    font-weight: 300;
    padding:0px;
    margin:0;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.headline-row {
    background: #fff;
    margin: -20px -35px 0 -35px;
    padding: 31px 35px 20px 35px;
    height: 98px
}

h1, h2, h3 {
    font-weight: 300;
}

.headline-row .title {
    font-size: 26px;
    color: #DB162F;;
    font-weight: 300;
}

.headline-row .title:before {
    content: "Jesteś w zakładce: ";
    color: #e2e2e2;
    margin-left: -25px;
}

h1 {
    margin: 0px;
    margin-bottom: 25px;
    color: #455c71;
}

.table tr td, .table tr th {
    padding: 10px 15px !important;
}

.table th {
    font-weight: 600;
}

.table {
    background: #fff;
    border-radius: 5px;
}

.login, .login body {
    background-color: #426180 !important;
}

.login .headline {
    color: #fff !important;
    padding-top: 50px;
    padding-bottom: 15px;
}
.login .headline h1 {
    color: #fff;
    font-weight: 300;
}
.login .headline h2, .login .headline h3 {
    text-indent: 0px !important;
}

.login-panel {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.login-panel input, .input-lg, .input-sm {
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    width: 90%
}

.input-lg {
    margin: 0 auto;
    border: 1px solid #e2e2e2;
    width: 100%
}

.login-panel input:focus {
    outline:none;
    border-color: #426180;
}

.login-panel input[type=submit] {
    background: #DB162F;
    color: #fff;
}

.login .reg {
    text-align: center;
    padding-top: 15px;
    color: #fff;
}

.login .reg a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-red {
    background: #DB162F;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}

.btn-accept {
  padding: 5px 15px;  
}

.btn-red:hover, .btn-op:hover{
    background: #426180;
    color: #fff;
}

.line {
    border-top: 2px solid #e2e2e2;
    padding-top: 25px;
    margin-top: 25px;
}

.btn-op {
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 5px;
}

.table th:last-child {
    text-align: right;
}

.btn-remove {
    background: url("../img/remove.jpg") top center no-repeat;
    width: 17px;
    height: 17px;
}

.btn-edit {
    background: url("../img/edit.jpg") top center no-repeat;
    width: 17px;
    height: 17px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}